body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aqua;
}
hi, p{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

button{

    display: block;
    margin-top: 20px;
    border: none;
    background-color: brown;
    color: white;

}

.container{
    width: 50%;
    margin: 0% auto;
}


