body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(172, 204, 204);
}
hi, p{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


button{

    display: block;
    margin-top: 20px;
    border: none;
    background-color: brown;
    color: white;

}

.container{
    width: 50%;
    margin: 0% auto;
}

.fila{
    margin-top: 10px;
    margin-bottom: 10px;

}

@media screen and (min-width: 700px){
    .botones{
        width: 20%;
    }
}

.botones{
    width: 100%;
    
}

input{
    background: #ebe3e3;
    border: none;
    padding: 12px;
}

input, label{
    font-size: 20px;
}


